.card-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 9%);
  justify-content: center !important;
  align-items: center !important;
  border: 10pxc solid black;
  height: 100vh !important;
}

.container {
  width: 20rem;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}